/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

.top-message{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    background: blueviolet;
    margin-top: 5px;
    height: 80px;

}