<!-- Image and text -->
<nav class="navbar navbar-light bg-info p-3">
  <div class="">
    <a class="navbar-brand" routerLink="">
      <img
        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-top"
      />
      Bootstrap
    </a>
    <!-- <a routerLink="/peliculas/create" class="btn btn-success">Peliculas</a> -->
    <a class="btn btn-success mx-2" routerLink="peliculas/find"
      >Encuentra tus peliculas</a
    >
    <a class="btn btn-success mx-2" routerLink="tipopeliculas"
      >Tipo de peliculas</a
    >
  </div>
</nav>
